version: "3.8"

services:
  db:
    image: postgres:15
    container_name: eventcoming_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventcoming
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d eventcoming"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s


  core:
    build:
      context: .
      dockerfile: Dockerfile
    image: eventcoming_core:latest
    container_name: eventcoming_core
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/eventcoming?sslmode=disable
      REDIS_URL: redis://redis:6379
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"

  redis:
    image: redis:7
    container_name: eventcoming_redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 5s

volumes:
  db_data:
